<div class="menu">
  <div class="max-width-960">
    <ul>
      <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
      <li><a href="{{site.baseurl}}/solar.html" class="{% if page.url == '/solar.html' %}active{% endif %}">Solar System</a></li>
      <li><a href="{{site.baseurl}}/galaxy.html" class="{% if page.url == '/galaxy.html' %}active{% endif %}">Galaxies</a></li>
      <li><a href="{{site.baseurl}}/random.html" class="{% if page.url == '/random.html' %}active{% endif %}">Something Random</a></li>
      <li><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}active{% endif %}">About me</a></li>
    </ul>
  </div>
</div>
